

.gird{
    padding: 50px 0;

    text-align: center;
}

.full{
    padding: 100px ;
    text-align: center;
}
.h1{
    text-align: center;
}


.system{
    padding: 50px 0;
}

.one{
    float: left;
}

p{
    color: #777;
}





