.navbar-header{
    position: absolute;
    left: 1%;
    display: inline-flex;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.menu-main{
    position: fixed;
    right: 1px;
    z-index: 4;
    background: #fff;
    width: 100%;
}




nav {
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.10)
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}

nav li {
  display: inline-block;
  color: black;
}

nav a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}

nav li:hover {
  background: none;
  color: #000;
}

nav a:hover li {
  color: #000;
}


.menu-sub {
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  display: none;
  color: #fff;
  padding: 2em;
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
  color: black;
}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
}




.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float:left
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 10%;
}
.menu-col-3 {
  width: 20%;
}

.sekil{
 position: fixed;
 left: 1%;
 z-index: 4;

}

.a{
  color: white;
}
a:hover{
  text-decoration: none;
}

.meskan {
 color: #f9ad40;
margin: 5px;
}

.email {
margin: 5px;
 color: #f9ad40;
   
}

.phone  {
 margin: 5px;
 color: #f9ad40;

}
.soz h1{
  text-align: center;
  margin-top: 100px;
  color: white;

}
.mekteb{
    background-image: url('https://livedemo00.template-help.com/wt_62311/images/backgrounds/bg-breadcrumbs.jpg');
    height: 400px;

}

.soz p{
  text-align: center;
  margin-top: 220px;
  color:white;
    padding: 10px;
}

.soz a{
   color: #f9ad40;
}


footer{
  padding: 50px;
  background: #000;
}


.icons i{
  width: 30px;
  height:30px;
  font-size: 20px;
  border-radius:50%;
  background-color: grey;
  color: white;
  text-align: center;
  padding-top: 3px;
}

.con li{
   display: inline-block;

}
.icons {
  
  padding-top: 5px;

}


.tiwit{
  color: white;
  
  

}
.tiwit:hover{
  color: white;
  background-color: #15aecf;

}

.face{
  color: white;
  
  

}
.face:hover{
  color: white;
  background-color: blue;

}


.gogle{
  color: white;
  
  

}
.gogle:hover{
  color: white;
  background-color: red;

}


.wifi{
  color: white;
  
  

}
.wifi:hover{
  color: white;
  background-color:brown;

}

.instagram{
  color: white;
  
  

}
.instagram:hover{
  color: white;
  background-color:purple;

}

.boton button{
  color: #f9ad40;
  border: 1px solid #f9ad40;
  background: #000;
}

.boton a:hover{
  color: #fff;
 
  background: #000;
}

.boton a{
  color: #f9ad40;

  background: #000;
}

