.navbar-header{
    position: absolute;
    left: 1%;
    display: inline-flex;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.menu-main{
    position: fixed;
    right: 1px;
    z-index: 4;
    background: #fff;
    width: 100%;
}




nav {
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.10)
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}

nav li {
  display: inline-block;
  color: black;
}

nav a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}

nav li:hover {
  background: none;
  color: #000;
}

nav a:hover li {
  color: #000;
}


.menu-sub {
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  display: none;
  color: #fff;
  padding: 2em;
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
  color: black;
}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
}




.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float:left
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 10%;
}
.menu-col-3 {
  width: 20%;
}

.sekil{
 position: fixed;
 left: 1%;
 z-index: 4;

}

.a{
	color: white;
}
a:hover{
  text-decoration: none;
}

.meskan {
 color: #f9ad40;
margin: 5px;
}

.email {
margin: 5px;
 color: #f9ad40;
   
}

.phone  {
 margin: 5px;
 color: #f9ad40;

}
.soz h1{
	text-align: center;
	margin-top: 100px;
	color: white;

}
.mekteb{
    background-image: url('https://livedemo00.template-help.com/wt_62311/images/backgrounds/bg-breadcrumbs.jpg');
    height: 400px;

}

.soz p{
	text-align: center;
	margin-top: 220px;
	color:white;
    padding: 10px;
}

.soz a{
	 color: #f9ad40;
}
.team{

}

.img{
	
	padding: 20px ;


}
.img:hover .iconsi{
 visibility: visible;
}

.images{
	
	position: relative;
	bottom: 414px;
	max-width: 100%;
	object-fit: cover;

}
.conn{
	position: relative;
	top: 0;
	left: 0;
	bottom: 415px;
	height: 83%;
	background: rgba(0,0,0,0.2);
	    transition: 200ms ease-in-out;
	    display: block;
	list-style-type: none;
	    padding: 8px;
    margin-top: 0;

}
.iconsi  {
	visibility: hidden;
    height: 438px;
    font-size: 20px;
    position: relative;
    top: 24px;
    z-index: 5;
    color: white;
    width: 50px;

}
.reng{
	position: relative;
	bottom: 417px;
}
.reng a{
	color: blue;
}

.reng a:hover{
	color:  #f9ad40;
}

  
.Columns{
	padding: 50px;
	background-color: #cfcece;
	height: 400px;
}
.Mark{
	    float: right;
    position: relative;
    bottom: 175px;
    right:110px;
    margin:-14px;
}

li{
	display: inline-block;

}
.Mark a{
	color: blue;
}

.Mark a:hover{
	color:#f9ad40;
}
.btn{
   background-color:  blue;

}
.btn:hover{
   background-color: #f9ad40;
   
}

.pecters{
	padding: 100px;
	text-align:left; 
}

.ima-responsive{
	width: 114%;
	height: 244px;
	
}
.goz{
	background-color: blue;
	position: relative;
	bottom: 73px;
}
.goz h4{
	color: white;
}
.goz h4:hover{
	color:  #f9ad40;
}
.goz p{
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0px;
	top: 2px;
	left: 110px;
}



.goz:hover{
	background-color: #2a2b2d;
}

.ses{
	height: 40px;
	background-color: blue;
	position: relative;
	bottom: 90px;
}


.ses h4{
	color: white;
}
.ses h4:hover{
	color:  #f9ad40;
}
.ses p{
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0px;
	top: 2px;
	left: 130px;
}



.ses:hover{
	background-color: #2a2b2d;
}

footer{
  padding: 50px;
  background: #000;
}


.icons i{
  width: 30px;
  height:30px;
  font-size: 20px;
  border-radius:50%;
  background-color: grey;
  color: white;
  text-align: center;
  padding-top: 3px;
}

.con li{
   display: inline-block;
}
.icons {
  
  padding-top: 5px;

}


.tiwit{
  color: white;
  
  

}
.tiwit:hover{
  color: white;
  background-color: #15aecf;

}

.face{
  color: white;
  
  

}
.face:hover{
  color: white;
  background-color: blue;

}


.gogle{
  color: white;
  
  

}
.gogle:hover{
  color: white;
  background-color: red;

}


.wifi{
  color: white;
  
  

}
.wifi:hover{
  color: white;
  background-color:brown;

}

.instagram{
  color: white;
  
  

}
.instagram:hover{
  color: white;
  background-color:purple;

}

.boton button{
  color: #f9ad40;
  border: 1px solid #f9ad40;
  background: #000;
}

