.a{
    color: white;
}
a:hover{
    text-decoration: none;
}

.meskan {
            color: #f9ad40;
    margin: 5px;
}

.email {
    margin: 5px;
        color: #f9ad40;
   
}

.phone  {
     margin: 5px;
         color: #f9ad40;

}
.Grifin{
    position: fixed;
    background-color: white;
    z-index: 1;

}

.school{
    position: relative;
    height: 347px;
    width: 143%;
    right: 260px;
    z-index: -1;
}

.text{
    text-align: center;
    color: white;
}


.soz p{
 position: absolute;
    bottom:  0px;
    top: 230px;
    left: 15px;

}

.soz {
    position: absolute;
    top: 200px;
    left: 40%;

}
.soz a{
    color: #f9ad40;

}
.soz a:hover{
    color: blue;
    
}
.part2{
 margin-top: 50px;
}

