.Latest{
	padding: 100px,0;
}


.baslig{
	margin: 70px;
}
.first{
	float: left;
}

.p{
	float: left;
}

.clear{
	clear: both;
}


.Inspiring
{
	background-color: silver;
	padding: 50px 0;
}


.karen{
float: left;

}

.karen-text{
	margin-left: 0px;
	margin-top: 0px;
}
.karen p{
	text-align: center;
	color: blue;
}

.vergul{
	font-size: 20px;
	color: orange;
}

.karen img{
	border-radius: 50%;
}

.Anthony{
	float: left;
	margin: 40px;
}

.Anthony-text h3{
	color: blue;
}

.james{
	margin-top: 26px;
	margin-left: 2%;
}

.dirnaq{
	color: blue;
	font-size: 30px;
}
.Simit{
	text-align: center;
	margin-top: -80px;
	color: blue;
}

.Amazing{
	padding: 100px 0;
}