body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans',sans-serif;
    
}

.cleary{
	clear: both;
}


.conteniar{
	width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10;
    position: relative;
 }

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -webkit-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
	opacity: .9;
}

.text1{
    padding-left: 25%;
    margin-bottom: 85px;
    font-size: 26px;
}

.word{
	float: left;
	
}

.word2{
	float: left;
	margin-left: 125px;
}

.word3{
	float: left;
	margin-left: 125px;
}


.img{
	
   margin -right: 340px; 

}


.texts{
	color: white;
	text-align: center;
}


#about{
	padding: 100px 0;

}


.features{
	padding: 100px 0px;
	background-image: url(features-bg.jpg);
	position: relative;
	height: 900px;
	height: 510px;

}
 .sol{
	float: left;
	list-style-type: none;
	margin-top: -44%;

}

 li{
	margin: 30px;
}

 ul{
	float: right;
	list-style-type: none;
	margin-top: -44%;

}

.MakeBusinessEasy{
	padding: 100px 0;
}

.img1{
  float: left;
  height: 340px;
}
.img2{
	float: right;
	height: 340px;
}

.btnread{
border-radius: 50px;
    background: 0 0;
    padding: 10px 20px;
    min-width: 170px;
    border: 2px solid ;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
	
}
a{
	    color: #bf095d;
    border-color: #bf095d
}

.texts3{
	float: right;
	margin-top: 200px;
	width: 1175px;
}

.SCREENSHOTS{
	padding: 820px 0;
	text-align: center;
}

.img3{
	 top: 145px;
    width: 327px;
    height: 656px;
    right: 430px;
    position: absolute;
    z-index: -1;
}
.img4{
	position: absolute;
	left: 427px;
}

.STATISTICS{
	padding: 100px 0 0;
}
.img5{
	    padding: 100px 0px;
    background-image: url(statistics-bg.jpg);
    position: relative;
    height: 510px;
}
